.loading{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
    font-family: "crimson text";
}

.loadingTitle{
    font-family: "crimson text";
    font-size: 20px;
}

#canvas {
    display: none;
}

.video{
    object-fit: contain;
    height: 400px;
    display: block;
    margin: auto;
}

.image{
    height: 200px;
    object-fit: contain;
}

.videoContainer{
    background-color: black;
    width: auto;
    height: auto;
    overflow: hidden;
}

.img{
    object-fit: contain;
    height: 577px;
}