.loading{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
    font-family: "crimson text";
}

.loadingTitle{
    font-family: "crimson text";
    font-size: 20px;
}

#canvas {
    display: none;
}

.video{
    object-fit: contain;
    height: 200px;
    display: block;
    margin: auto;
}

.offScreenVideo{
    object-fit: contain;
    height: 500px;
}

.image{
    height: 200px;
    object-fit: contain;
}

.videoContainer{
    background-color: black;
    width: 355.55;
    height: 200;
    overflow: hidden;
}

.img{
    object-fit: contain;
    height: 200px;
}

@media(max-width: 645px){
    .video{
        height: auto;
        width: 100%;
    }
}