.homeContainer{
    height: auto;
}

.flexContainer{
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 30px;
    width: 100%;
    padding: 20px;
}

.title{
    text-align: center;
    font-family: "crimson text";
    font-size: 40px;
    margin-top: 20px; 
}

.video{
    object-fit: contain;
    height: 200px;
    cursor: pointer;
}

.userImage{
    object-fit: contain;
    width: 50px;
    border-radius: 100%;
}

.videoTitle, .videoTimeStamp, #username{
    font-family: "crimson text";
}

.videoDesc{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0px;
}