.homeContainer{
    height: auto;
}

.gridContainer{
    display: grid;
    grid-template-columns: repeat(4, 355px);
    gap: 30px;
    padding: 20px;
    width: 1520px;
    margin: auto;
}

.title{
    text-align: center;
    font-family: "crimson text";
    font-size: 40px;
    margin-top: 20px; 
}

@media (max-width: 1575px){
    .gridContainer{
        grid-template-columns: repeat(3, 355px);
        width: 1165px;
    }
}

@media (max-width: 1175px){
    .gridContainer{
        grid-template-columns: repeat(2, 355px);
        width: 780px;
    }
}

@media(max-width: 825px){
    .title{
        font-size: 25px;
    }
}

@media(max-width: 790px){
    .gridContainer{
        grid-template-columns: 355px;
        width: 395px;
    }
}

@media(max-width: 450px){
    .gridContainer{
        padding: 20px 0px;
        grid-template-columns: 350px;
        width: 350px;
    }

}


@media(max-width: 380px){
    .gridContainer{
        width: 302px;
        grid-template-columns: 302px
    }
}