.title{
    font-family: "crimson text";
}

.timeStamp, .timeStampTitle, .comment{
    font-family: "crimson text";
}

.comment{
    font-size: 19px;
}

.timeStamp{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin: 10px 0px;
}

.timeCreated{
    color: initial;
}

.username{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: "crimson text";
}

.userInfo{
    display: flex;
    align-items: center;
    gap: 15px;
}

.userImage{
    object-fit: contain;
    width: 50px;
    border-radius: 100%;
}

.otherVideosByUser{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.flexContainer{
    display: flex;
    justify-content: center;
    padding: 40px;
    margin-top: 40px;
    gap: 60px;
}


.loadingCircle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
}


.datePosted{
    position: absolute;
    top: 10px;
    right: 10px;
    font-family: "crimson text";
}

.video{
    object-fit: contain;
    width: 700px;
}

.otherVideos{
    object-fit: contain;
    width: 300px;
}

.noOtherVideos{
    font-family: "crimson text";
    text-align: center;
}