.title, .otherVideosTitle{
    font-family: "crimson text";
}

.timeStamp, .timeStampTitle, .comment{
    font-family: "crimson text";
}

.comment{
    font-size: 19px;
}

.timeStamp{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin: 10px 0px;
}

.timeCreated{
    color: initial;
}

.username{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: "crimson text";
}

.userInfo{
    display: flex;
    align-items: center;
    gap: 15px;
}

.userImage{
    object-fit: contain;
    width: 50px;
    border-radius: 100%;
}

.otherVideosByUser{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.flexContainer{
    display: flex;
    justify-content: center;
    padding: 40px;
    margin-top: 40px;
    gap: 60px;
}


.loadingCircle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
}


.datePosted{
    position: absolute;
    top: 10px;
    right: 10px;
    font-family: "crimson text";
}

.video{
    object-fit: contain;
    width: 700px;
}

.otherVideos{
    object-fit: contain;
    width: 300px;
    pointer-events: none;
}

.noOtherVideos{
    font-family: "crimson text";
    text-align: center;
}

.otherVideoContainer{
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid grey;
    border-radius: 20px;
    padding: 20px;
}

.otherVideoTitle{
    font-family: "crimson text";
    font-size: 22px;
}

.videoLink{
    cursor: pointer;
    position: relative;
}

.loading{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
}

.loadingVideo{
    background-color: rgb(238, 238, 238);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 168.75px;
    position: absolute;
    top: 0px;
    left: 0px;
}

.videoContainer{
    width: 700px;
}


@media(max-width: 1100px) {
    .videoContainer{
        width: auto;
    }
    .flexContainer{
        flex-direction: column;
        padding: 0px;
        margin-top: 0px;
    }
    .video{
        width: 100%;
    }

    /* find a way to dynamically hard code the height for the loading container*/
    .loadingVideo{
        width: 100%;
    }
    .otherVideos{
        width: 100%;
    }

    .otherVideosTitle{
        font-size: 30px;
        text-align: center;
    }

    .otherVideoTitle{
        font-size: 35px;
    }

    .userInfo, .title, .timeStamp{
        width: 90%;
        margin: auto;
    }

    .otherVideoContainer{
        width: 100%;
        padding: 20px 0px;
    }
}

