.dialog{
    width: 300px;
}

.title{
    font-family: "crimson text";
    text-align: center;
}

.loading{
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(max-width: 412px) {
    .dialog{
        width: auto;
    }
    .title{
        width: auto;
    }
}