.searchBoxContainer{
    position: relative;
}

.searchBox{
    background-color: rgb(66, 66, 66);
    border: none;
    border-radius: 40px;
    padding: 10px;
    font-family: "crimson text";
    color: white;
    padding-left: 30px;
    width: 100px;
    transition: width 0.5s linear;
}

.searchIcon{
    width: 20px;
    position: absolute;
    left: 5px;
    top: 10px;
}