.searchBoxContainer{
    position: relative;
}

.searchBox{
    background-color: rgb(66, 66, 66);
    border: none;
    border-radius: 40px;
    padding: 10px;
    font-family: "crimson text";
    color: white;
    padding-left: 30px;
    width: 100px;
    transition: width 0.5s linear;
}

.searchIcon{
    width: 20px;
    position: absolute;
    left: 5px;
    top: 10px;
}

.submit{
    border: none;
    border-radius: 0px 40px 40px 0px;
    background-color:aliceblue;
    font-family: "crimson text";
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 10px;
    display: none;
    cursor: pointer;
    transition: all 0.2s linear;
}

.submit:hover{
    background-color: rgb(94, 96, 99);
}
