.navigationBar{
    height: auto;
    display: flex;
    flex-direction: column;
}

.navBarOne{
    background-color: rgb(0, 0, 0);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.navBarTwoBackground{
    background-color: rgb(37, 37, 37);
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navBarTwo{
    color: white;
    width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}

.accountItems{
    margin-right: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.accountLink{
    font-family: "crimson text";
}

.videoLink{
    font-family: "crimson text";
}

.logo{
    font-family: "crimson text";
    color: white;
    margin-left: 20px;
    cursor: pointer;
}

.logo:hover{
    color: grey;
}

.signUpButton{
    padding: 10px;
    background-color: white;
    border-radius: 10px; 
    border: none;
    cursor: pointer;
}

.signUpButton:hover{
    background-color: rgb(211, 211, 211);
}   

.accountLink:hover{
    cursor: pointer;
    color:rgb(163, 163, 163)
}

.videoLink:hover{
    cursor: pointer;
    color: rgb(163, 163, 163);
}

.hamburger{
    display: none;
    cursor: pointer;
}

.hamdburger:hover{
    color:rgb(163, 163, 163)
}
@media(max-width: 850px){
    .navBarTwo{
        width: 400px;
    }
}
@media(max-width: 700px){
    .logo{
        font-size: 16px;
    }
}

@media(max-width: 470px){
    .hamburger{
        display: initial;
    }
    .navBarTwoBackground{
        height: auto;
        position: relative;
        z-index: 5;
    }
    .navBarTwo{
        flex-direction: column;
        gap: 20px;
        width: 100%;
        overflow: hidden;
    }
    .videoLink{
        border-bottom: 1px solid white;
        width: 100%;
        text-align: center;
    }
}