.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 89.2%;
}

.accountContainer{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    background-color: rgb(37, 37, 37);
    width: 300px;
    padding: 20px;
    color: rgb(46, 46, 46);
}


.title, .desc{
    color: white;
    font-family: "crimson text";
}

.title{
    align-self: center;
    font-size: 40px;
    margin: 10px 0px;
}

.dialogContent{
    height: 200px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
}

.dialogTitle{
    width: 400px; 
    display: block;
    margin: 20px auto;
}

.loadingIcon {
    position: absolute; 
    left: 0;
    right: 0; 
    margin: auto; 
    margin-top: 2px;
    width: 20px;
}

@media(max-width: 365px){
    .accountContainer{
        width: 280px;
    }
}